<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeespring.sharding.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeespring.sharding.entity.OrderItem">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="commodity_code" property="commodityCode" />
        <result column="commodity_name" property="commodityName" />
        <result column="price" property="price" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="selectByUserId" resultType="Order">
        SELECT id, user_id, commodity_code, commodity_name, price, update_time, create_time FROM t_order_item
    </select>
</mapper>
